.info_Running{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}
.info_Running > div{
    width: max-content;
    margin: 0 auto;
}
.Running_Checklist{
    display: flex;
    flex-direction: row;
    width: max-content;
}
.Running_Checklist > p{
    width: 80px;
}